<header>
    <h1>Notes</h1>
</header>
<main>
    <section id="setting">
        <form method="get" action="/">
            <div id="settingOptions">
                <div id="orderSettings">
                    <h4>Sorted by: </h4>
                    <button type="submit" name="sort" value="dueDate"> By Finish Date </button>
                    <button type="submit" name="sort" value="createdDate"> By created Date </button>
                    <button type="submit" name="sort" value="priority"> By Importance </button>
                    <div>
                        <input type="radio" id="asc" name="order" value="asc" {{checkedState orderValue "asc"}}>
                        <label for="asc"> ascending </label>
                        <input type="radio" id="desc" name="order" value="desc" {{checkedState orderValue "desc"}}>
                        <label for="desc"> descending </label>
                    </div>
                </div>
                {{#if showFinished}}
                    <button type="submit" class="showingNodes" name="showFinished" value="false"> hide finished notes </button>
                {{else}}
                    <button type="submit" class="showingNodes" name="showFinished" value="true"> show all notes </button>
                {{/if}}
                <button type="submit" id="styleSwitcher" name="style" value="{{switchStyle style}}"> Style switcher </button>
            </div>
        </form>
    </section>
    <section id="container">
        <h2> Your Note list </h2>
        {{#each notes}}
            <form method="get" action="/edit/{{_id}}" class="notes">
                <h3>Title: {{title}}</h3>
                <p>description: {{description}}</p>
                <p>priority: {{priority}}</p>
                <time id="dueTime" datetime="{{dateFormat dueDate 'MMM Do YY'}}">dueDate: {{dateFormat dueDate 'MMM Do YY'}}</time>
                {{#if isFinished}}
                    <input type="checkbox" name="isFinished" value="isFinished" checked="checked"> isFinished
                {{else}}
                    <input type="checkbox" name="isFinished" value="isFinished"> isFinished
                {{/if}}
                <button type="submit" id="editButton" name="editNote" value={{_id}}> Eidt Note </button>
            </form>
        {{/each}}
    </section>
</main>
