<h1>Notes</h1>
<section>
    <form method="get" action="/">

        <button type="submit" name="sort" value="dueDate"> By Finish Date </button>
        <button type="submit" name="sort" value="createdDate"> By created Date </button>
        <button type="submit" name="sort" value="priority"> By Importance </button>
        <input type="radio" name="order" value="asc" {{checkedState orderValue "asc"}}> ascending
        <input type="radio" name="order" value="desc" {{checkedState orderValue "desc"}}> descending
        {{#if showFinished}}
            <button type="submit" name="showFinished" value="false"> Fertige Verbergen </button>
        {{else}}
            <button type="submit" name="showFinished" value="true"> Alle anzeigen </button>
        {{/if}}

    </form>
</section>


{{#each notes}}
    <p>Your Note list</p>
    <p>Title: {{title}}</p>
    <p>description: {{description}}</p>
    <p>priority: {{priority}}</p>
    <p>dueDate: {{dateFormat dueDate 'MMM Do YY'}}</p>
    {{#if isFinished}}
        <input type="checkbox" name="isFinished" value="isFinished" checked="checked"> isFinished
        <br>
    {{else}}
        <input type="checkbox" name="isFinished" value="isFinished"> isFinished
        <br>
    {{/if}}
{{/each}}