<header id="pageHeader">
    <h1 class="title">{{title}}</h1>
</header>

<main>

    <div class="container">
        <form id="form-note-update" method="post" action="/save">

            <input type="hidden" name="_id" value="{{note._id}}"/>

            <div class="input-row">
                <label for="title" class="control-label">Title</label>
                <input id="title" name="title" type="text" class="form-control" required value="{{note.title}}"/>
            </div>

            <div class="input-row">
                <label for="description" class="control-label">Description</label>
                <textarea class="form-control" id="description" name="description">{{note.description}}</textarea>
            </div>

            <div class="input-row">
                <label for="priority" class="control-label">priority</label>
                <input id="priority" name="priority" type="number" class="form-control" min="1" max="5" required value="{{note.priority}}"/>
            </div>

            <div class="input-row">
                <label for="dueDate" class="control-label">Due Date</label>
                <input id="dueDate" name="dueDate" type="date" class="form-control" required placeholder="YYYY-MM-DD" pattern="\d{4}-\d{2}-\d{2}" value="{{dateFormat note.dueDate "YYYY-MM-DD"}}"/>
            </div>

            <div class="input-row no-label">
                <label>
                    <input id="isFinished" name="isFinished" type="checkbox" {{checkboxState note.isFinished}}> done
                </label>
            </div>

            <div class="form-button-holder">
                <a href="/" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</main>